<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quiz1">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quiz1"
        android:networkSecurityConfig="@xml/network_security_config">

        <!-- Pantalla de Login, lanzador de la app -->
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Quiz1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Menú principal -->
        <activity
            android:name=".activity.MenuActivity"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.Quiz1" />

        <!-- Inscripción (registro de usuario) -->
        <activity
            android:name=".activity.InscriptionActivity"
            android:exported="false"
            android:label="@string/title_activity_inscription"
            android:theme="@style/Theme.Quiz1" />

        <!-- CRUD de Alumnos -->
        <activity
            android:name=".activity.alumnoActivity.InsertarAlumnoActivity"
            android:exported="false"
            android:label="Insertar Alumno"
            android:parentActivityName=".activity.MenuActivity" />
        <activity
            android:name=".activity.alumnoActivity.EditarAlumnoActivity"
            android:exported="false"
            android:label="Editar Alumno"
            android:parentActivityName=".activity.MenuActivity" />
        <activity
            android:name=".activity.alumnoActivity.HistorialAlumnoActivity"
            android:exported="false"
            android:label="Historial Alumno"
            android:parentActivityName=".activity.MenuActivity" />

        <!-- CRUD de Carreras -->
        <activity
            android:name=".activity.carreraActivity.InsertarCarreraActivity"
            android:exported="false"
            android:label="Insertar Carrera"
            android:parentActivityName=".activity.MenuActivity" />
        <activity
            android:name=".activity.carreraActivity.EditarCarreraActivity"
            android:exported="false"
            android:label="Editar Carrera"
            android:parentActivityName=".activity.MenuActivity" />

        <!-- CRUD de Ciclos -->
        <activity
            android:name=".activity.cicloActivity.InsertarCicloActivity"
            android:exported="false"
            android:label="Insertar Ciclo"
            android:parentActivityName=".activity.MenuActivity" />
        <activity
            android:name=".activity.cicloActivity.EditarCicloActivity"
            android:exported="false"
            android:label="Editar Ciclo"
            android:parentActivityName=".activity.MenuActivity" />

        <activity
            android:name=".activity.grupoActivity.InsertarGrupoActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Insertar Grupo" />

        <activity
            android:name=".activity.grupoActivity.EditarGrupoActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Editar Grupo" />

        <activity
            android:name=".activity.matriculaActivity.InsertarMatriculaActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Insertar Matrícula" />

        <activity
            android:name=".activity.matriculaActivity.EditarMatriculaActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Editar Matrícula" />

        <activity
            android:name=".activity.cursoActivity.InsertarCursoActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Insertar Curso" />

        <activity
            android:name=".activity.cursoActivity.EditarCursoActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Editar Curso" />

        <activity
            android:name=".activity.planEstudioActivity.InsertarPlanEstudioActivity"
            android:label="Insertar Plan"
            android:exported="false"
            android:parentActivityName=".activity.MenuActivity" />

        <activity
            android:name=".activity.planEstudioActivity.EditarPlanEstudioActivity"
            android:label="Editar Plan"
            android:exported="false"
            android:parentActivityName=".activity.MenuActivity" />
        <activity
            android:name=".activity.profesorActivity.InsertarProfesorActivity"
            android:label="Insertar Profesor"
            android:exported="false"
            android:parentActivityName=".activity.MenuActivity" />

        <activity
            android:name=".activity.profesorActivity.EditarProfesorActivity"
            android:label="Editar Profesor"
            android:exported="false"
            android:parentActivityName=".activity.MenuActivity" />

        <activity
            android:name=".activity.usuarioActivity.InsertarUsuarioActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Insertar Usuario" />

        <activity
            android:name=".activity.usuarioActivity.EditarUsuarioActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Editar Usuario" />

        <activity
            android:name=".activity.notaActivity.RegistrarNotaActivity"
            android:parentActivityName=".activity.MenuActivity"
            android:exported="false"
            android:label="Registrar Nota" />


    </application>
</manifest>
